<h1> Listing Articles</h1>
<table>
	<tr>
		<td>Question</td> 
		<td>Description</td>
	</tr>
	<% @user.each do |a| %>
	<tr>
		<td><%= a.description %></td>
		<td><%= link_to 'show', question_path(a) %></td>
		<td><%= link_to 'Edit', edit_question_path(a) %></td>
		<td><%= link_to 'destroy', question_path(a),method: :delete, data:{confirm:'Are you sure?'} %></td>
	</tr>
	<% end %>
      
</table>