<br>
<div class="container">
  <div class="card">
  	<div class="card-header">
  <%= @question.subject %></div>
    <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= @answer.description %></li>
  </ul>
  </div>
</div>

